[Desktop Entry]
Version=1.0
Type=Application
Name=Icono (capitulo 4 - main00)
Exec=/bin/bash -c "cd ${HOME}/apps/04-IconoVentana/ && python main00.py"
# FIXME: Don't hardcode Path?
Icon=/home/jovyan/imgs/Python.svg.png
Path=/home/jovyan/Desktop
