[Desktop Entry]
Version=1.0
Type=Application
Name=Icono (capitulo 5 - main01)
Exec=/bin/bash -c "cd ${HOME}/apps/05-QWidget_QMainWindow_QDialog/ && python main01.py"
# FIXME: Don't hardcode Path?
Icon=/home/jovyan/apps/05-QWidget_QMainWindow_QDialog/imgs/pybofractal.png
Path=/home/jovyan/Desktop
