[Desktop Entry]
Version=1.0
Type=Application
Name=Icono (capitulo 7 - main00)
Exec=/bin/bash -c "cd ${HOME}/apps/07-MenuPrincipal/ && python main00.py"
# FIXME: Don't hardcode Path?
Icon=/home/jovyan/apps/07-MenuPrincipal/imgs/pybofractal.png
Path=/home/jovyan/Desktop
